form.line {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}
button.btn-save, button.btn-delete, button.btn-search {
    background: #4CAF50;
    text-transform: uppercase;
    color: white;
    margin: 5px;
    width: 100%;
}
button.btn-delete {
    background: crimson;
}
button.btn-search {
    background: #3c77bf;
}
.line input, .line select {
    width: 100%;
}